html {
    scroll-behavior: smooth;
    position: relative;
    min-height: 100%;
}

body {
    background-image: url("./images/back.jpg");
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

/* all buttons */
button {
    cursor: pointer;
}

/* Index/Main page */
.main-page {
    font-size: xx-large;
    text-align: center;
    position: relative;
    top: 380px;
}

.main-page h1 {
    position: relative;
    bottom: -5px;
}

.main-page h3 {
    position: relative;
    top: 35px;
}

.main-page button {
    margin: 12.5px;
    padding: 8px 20px;
    font-size: 23px;

    background-color: rgb(245, 178, 133);
    border: none;
    border-radius: 5px;
}

.main-page button:hover {
    margin: 10px;
    padding: 8px 20px;
    font-size: 27px;

    cursor: pointer;

    background-color: white;
    border: none;
    border-radius: 5px;
}

.about {
    text-align: center;
    font-size: x-large;
    position: relative;
    top: 1080px;
}

.about h2 {
    position: relative;
    top: -400px;
}

.about p {
    position: relative;
    top: -400px;
    padding: 15px;
}

.about div button {
    position: relative;
    top: -400px;
    padding: 0px 20px;
    margin-right: 30px;
    margin-left: 50px;
    font-size: 25px;

    background-color: rgb(245, 178, 133);
    border: none;
    border-radius: 5px;
}

.about div button:hover {
    position: relative;
    top: -400px;
    padding: 0px 20px;
    margin-right: 30px;
    margin-left: 50px;
    font-size: 30px;

    background-color: white;
    border: none;
    border-radius: 5px;
}

.about a {
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

/* Toolbar */
.toolbar {
    display: block;
    position: absolute;
    top: 40px;
    right: 0px;
    text-decoration: none;
    text-anchor: end;
}

.toolbar a {
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;

    font-size: 35px;
    padding: 0px 20px;
}

.toolbar a:hover {
    text-decoration: none;
    color: lightcoral;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;

    font-size: 35px;
    padding: 0px 20px;
}

nav ul {
    text-align: right;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav li {
    display:inline-block;
    margin-right: 20px;
}

/* CopyRight */
.cr p {
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
}

/* Logo */
.logo a {
    background-image: url("images/logo.jpg");
    background-size: 100px;
    background-repeat: no-repeat;
    border-radius: 50%;
    border-style: solid;
    border-color: white;
    width: 90px;
    height: 90px;
    text-indent: -9999999999px;
    position: absolute;
    top: 20px;
    left: 30px;
    display: inline-block;
}

/* Contact */
.contact {
    font-size: xx-large;
    text-align: center;
    position: relative;
    top: 380px;
}

.contact h1 {
    position: relative;
    bottom: -5px;
}

.contact p {
    position: relative;
    top: 35px;
}

.contact ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.contact li {
    display: inline-block;
    margin-top: 30px;
    margin-right: 100px;
    margin-left: 100px;
}

.contact button {
    background-color:transparent;
    border: transparent;
}

.contact button:hover img {
    width: 80px;
    height: 80px;
}